.footer {
	position: relative;
	max-width: 100%;
	height: 400px;
	background: #d8dbe8; 
}

.madeBy {
	position: relative;
	float: right;
	top: 350px;
}

.leftContainer {
	letter-spacing: 10px;
	padding-top: 100px;
	line-height: 30px;
	position: absolute;
	height: 100%;
	max-width: 50%;
	width: 100%;
	background: grey;
}

.p {
	color: #fff;
	font-size: 18px;
	font-family: sans-serif;
	margin: 0px 40px;
	width: 350px;
}